body {
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#0A3A40);
}


.content {
    width: 1000px;
    height: 700px;
    background-color: #042326;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.content-welcome {
    width: 500px;
    height: 100%;
}

.content-register {
    width: 500px;
    height: 100%;
}

.content-logo {
    background-color: aliceblue;
}

.content-text {
    width: 400px;
    height: 200px;
    margin-top: 35px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: aliceblue;
}

.welcome-text {
    border-bottom: solid 10px aliceblue;
}

.content-info {
    width: 400px;
    height: 200px;
    margin-left: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    image-resolution: 300dpi;
}

.content-register {
    width: 100%;
    height: 100%;
}

.h3 {
    margin: 50px 0 0 50px !important;
    padding-bottom: 50px;
    color: aliceblue !important;
    font-size: 60px !important;
}

form {
    display: block !important;
    justify-content:center !important;
    align-items: center !important;
}

input, label, button {
    margin-left: 50px !important;
}

input {
    margin-bottom: 15px !important;
}

.form-check-label{
    margin-left: 5px !important;
    color: aliceblue !important;
    font-size: 20px !important;
}

.login-message {
    color: aliceblue;
    font-size: 20px;
}

.login-link, a.text-primary {
    color: aqua !important;
}

.btn, .btn-primary {
    background-color: #0F5959;
    border: solid 1px #0F5959;
}

.btn:hover, .btn-primary:hover {
    background-color: #1D7373;
    border: solid 1px #1D7373;
}

.btn.btn-primary.btn-log-in {
    background-color: #0F5959;
    border: solid 1px #0F5959;
}

.btn.btn-primary.btn-log-in:hover {
    background-color: #1D7373;
    border: solid 1px #1D7373;
}